<div class="row home-body">
    
    <div class="col-sm-4 text-center delay-more animated duration-3-sec fadeIn" style="margin-top: 150px;">
        <p class="lead">
            "We've been helping companies change culture to perform better for over 20 years. We work closely with multinationals, as well as small and medium companies, across all business sectors"
        </p>
    </div>
    <div class="col-sm-4 text-center " style="margin-top: 120px;">
        <img class="animated bounceInUp delay img-circle img-responsive"
             src="img/helmet.png" style="border-radius: 50%;" />
    </div>

    <div class='message col-sm-4 text-center delay-more animated duration-3-sec fadeIn' style="margin-top: 150px;">
        <blockquote>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus.</p>
            <small>Steve Jobs, CEO Apple</small>
        </blockquote>
    </div>
</div>
<script>
    var sm_icon = $('a.small-logo');
    if(sm_icon.css('display') != 'none') {
        $('a.small-logo').fadeOut();
    }
</script>