<div class="slide">

    <div class="bloc1">
        <h2>Facilitation, <br>
            Team &amp; Group Development</h2>

        <p>A strong senior management team is the driving force of a good business. Making sure your senior executives
            can work together effectively and creatively to deliver the best results is the goal of facilitation.
            Whatever the reason for bringing together your most valued people, board meeting to directors’ away day, our
            experts will ensure your whole company gains as much as possible from the experience.<br>
            <br>
            Facilitation also plays a major role in developing the potential of a team or group. Hiring talented people
            is one thing; turning them into a talented team is something else. We use a wide range of innovative
            facilitation techniques to build on individual strengths and personalities to create a dynamic team.<br>
            <br>
        </p>

        <p class="western" lang="en-GB" style="margin-bottom: 0cm">
            <font color="#0d0d0d">You can see how Facilitation helped these businesses perform better :</font></p>

        <p></p>
    </div>

    <div class="bloc2">
        <img src="img/our_service1_minisphere.png" width="325" height="272">
    </div>

    <div class="bloc3">
        <div class="minititle minititle2">
            <span>Key benefits</span>

            <div></div>
        </div>
        <ul>
            <li>
                Harnesses individual strengths to create a dynamic team or group
            </li>
            <li>
                Significantly increases the effectiveness of senior level meetings
            </li>
            <li>
                Enables executives from different levels of seniority, cultures and backgrounds to work effectively as a
                powerful unit
            </li>
            <li>
                Encourages individuals to work together as a group to achieve more than they could alone
            </li>
            <li>
                Improves trust and understanding between members of a team or group
            </li>
        </ul>
    </div>

    <div class="bloc4">
        <div class="minititle minititle3">
            <span>Our techniques</span>

            <div></div>
        </div>

        <p>Here are some of the Facilitation techniques we use to deliver results:</p>
        <ul>
            <li>
                Experiential Learning
            </li>
            <li>
                Meeting in Circle
            </li>
            <li>
                Work with Horses
            </li>
            <li>
                Open Space
            </li>
            <li>
                Active Listening
            </li>
        </ul>
    </div>

    <div class="clearBoth"> &nbsp; </div>
</div>
