<div class="slide">

    <div class="bloc1">
        <h2>Executive Coaching</h2>

        <p>Professionals at the top of their field, be they a world-class quarterback, a concert pianist or a tennis
            champion, all use a coach to stay as sharp as possible. The same is true for business leaders – all the best
            have someone who helps and challenges them and shows them how to rise above their blind spots.<br>
            <br>
            To help CEOs and other senior executives continue to perform at their best, we work through issues and
            challenges on a one-to-one basis to enable them to find their own way forward. We adapt our style and
            approach to suit the executive’s own personality and goals, and the specific day-to-day business decisions
            they face.<br>
            <br>
            You can see how Executive Coaching helped these CEOs perform better: </p>
    </div>

    <div class="bloc2">
        <img src="img/our_service2_minisphere.png" width="325" height="272">
    </div>

    <div class="bloc3">
        <div class="minititle minititle2">
            <span>Key benefits</span>

            <div></div>
        </div>
        <ul>
            <li>
                Improves performance and focus
            </li>
            <li>
                Creates structured opportunities for busy executives to reflect and learn
            </li>
            <li>
                Promotes a long-term view of business challenges away from the maelstrom of day-to-day events
            </li>
            <li>
                Increases self-awareness
            </li>
        </ul>
    </div>

    <div class="bloc4">
        <div class="minititle minititle3">
            <span>Our techniques</span>

            <div></div>
        </div>

        <p>Here are some of the Executive Coaching techniques we use to deliver results:</p>
        <ul>
            <li>
                Holistic Thinking
            </li>
            <li>
                Business Oriented Psychology (including for instance Gestalt and NLP)
            </li>
            <li>
                Systems Thinking
            </li>
            <li>
                Psychometric Profiling
            </li>
            <li>
                Interference and Focus
            </li>
            <li>
                GROW Model
            </li>
            <li>
                360° Feedback
            </li>
        </ul>
    </div>

    <div class="clearBoth"> &nbsp; </div>
</div>