<ul class="nav" style="color: rgb(149, 149, 149);text-decoration: none;font-size: 1.532em;">
    <li><a ui-sref-active="active" ui-sref=".facility" style="color: rgb(149, 149, 149);cursor: pointer;">Facilitation, 
            Team &amp; Group Development</a></li>
    <li><a ui-sref-active="active" ui-sref=".coaching" style="color: rgb(149, 149, 149);" href="/#executive-coaching">Executive Coaching</a></li>
    <li><a ui-sref-active="active" ui-sref=".communication" style="color: rgb(149, 149, 149);" href="/#communication-management">Communication, 
            Management &amp; Leadership Skills</a></li>
    <li><a ui-sref-active="active" ui-sref=".consultancy" style="color: rgb(149, 149, 149);" href="/#change-management-consultancy">Change Management &amp; Consultancy</a></li>
    <li><a ui-sref-active="active" ui-sref=".vision" style="color: rgb(149, 149, 149);" href="/#vision-mission-definition">Vision &amp; Mission Definition</a></li>	
</ul>