<style>
    a,a:hover{
        color: rgb(149, 149, 149);cursor: pointer;
    }
 li.active,a.active,a.active:hover {
    background: #404040;
    color: #fff;
}
</style>
<div class="row">
    <div class="col-md-2">
        <ul class="nav" style="margin-top: 100px;margin-bottom: auto;color: rgb(149, 149, 149);text-decoration: none;">
            <li><a class="active">Facilitation</a></li>
            <li><a>Executive Coaching</a></li>
            <li><a>Communication</a></li>
            <li><a>Change Management</a></li>
            <li><a>Vision</a></li>	
        </ul>
    </div>
    <div class="col-md-4">
        <img class="img-responsive" src="img/trish-barron.png" />
    </div>
    <div fade-in-later class="col-md-6">
        <div class="panel-heading">
            <h1>Staff Name</h1>
        </div>
        <div class="panel-body">
            <tabset type="pills" justified="true" vertical="false">
                <tab heading="Bio">
                    <p>
                        Thom has helped multinational companies perform better for over 20 years. His down-to-earth and pragmatic approach aims to change an organisation’s culture so that everyone can perform better at every level. To do this he uses a wide range of innovative, imaginative and enjoyable methods that have secured his position at the forefront of his profession. All Thom’s approaches and techniques are rooted in his belief that when what is happening at the core of a business is addressed and respected, people can focus and realise their potential. The best ideas can be heard and the business can flourish.

                        Thom’s uniquely personal and warm-hearted approach has been embraced by many of the world’s top companies, including AstraZeneca, Centrica, Eurotunnel, ABB, Citigroup, Transocean, New York Stock Exchange,
                        GlaxoSmithKline, Subsea 7, Pfizer, Roche and Shell.

                        He lives in the foothills of the Rockies.
                    </p>
                </tab>
                <tab heading="Professional Qualification">
                    <ul>
                        <li> MSc Change Agent Skills & Strategies</li>
                        <li>Member of the International Association of Facilitators</li>
                        <li> NLP Master Practitioner</li>
                    </ul>
                </tab>
            </tabset>
        </div>
    </div>
</div>
