
<div class="row" >   
    <div fade-in-later class="col-sm-6 text-center content" style="display: block;">

        <h1>These 5 values</h1>
        <h3>are at the heart of <br>what we do</h3>

        <div class="separationH">
            <div>&nbsp;</div>
            <img src="img/values_logo_marque.png" width="59" height="47">
            <div>&nbsp;</div>
        </div>


        <div>
            <h3><a href="/#" class="active" style="color: rgb(174, 158, 141);">Excellence</a></h3>
            <h3><a href="/#" style="color: rgb(174, 158, 141);">Unity</a></h3>
            <h3><a href="/#" style="color: rgb(174, 158, 141);">Holism</a></h3>
            <h3><a href="/#" style="color: rgb(174, 158, 141);">Innovation</a></h3>
            <h3><a href="/#" style="color: rgb(174, 158, 141);">Audaciousness</a></h3>
            <h3>&nbsp;</h3>
        </div>      


    </div>
    
     <div class="col-sm-5 sphere" style="background-color: rgb(255, 255, 255);">
         <div class="phenix text-center" style="margin: auto;vertical-align: central;">
            <img src="img/po_bird.jpg" width="305" height="392">
        </div>
    </div>


</div>
<script type="text/ng-template" id="excellence.html">
            <div class="slide">
                <p class="excellence">We continually strive for excellence in everything we do. Our aim is to model best practice so that others in turn do the same.</p>			
            </div>
</script>
<script type="text/ng-template" id="unity.html">
            <div class="slide">
                <p class="unity">When people work <br>
                    together, they can achieve <br>
                    amazing results. Both respect <br>
                    and communication are key <br>
                    to this and integral to <br>
                    everything we do.</p>			
            </div>
</script>
<script type="text/ng-template" id="holism.html">
            <div class="slide">
                <p class="holism">We believe you can only successfully change a culture when you truly understand its roots<br>
                    and have fully explored the consequences of the intended change. This is the core principle our systemic approach<br>
                    builds upon.</p>			
            </div>
</script>
<script type="text/ng-template" id="innovation.html">
            <div class="slide">
                <p class="innovation">Every company is different so we develop solutions to match. With our innovative methods, our approach is uniquely tailored to you and your needs.</p>			
            </div>
</script>
<script type="text/ng-template" id="audaciousness.html">
            <div class="slide">
                <p class="audaciousness">Taking decisions, evaluating risks, encouraging creativity, challenging the accepted – it takes courage to venture into the unknown and that is where the rewards lie.</p>			
            </div>
</script>